# Postgres DB, shouldn't need to be changed
POSTGRES_DB=dona
POSTGRES_USER=dona
POSTGRES_PASSWORD=password
POSTGRES_HOST_PORT=5432
DATABASE_URL=postgres://dona:password@localhost:5432/dona

# Config for survey redirects
DONOR_ID_INPUT_METHOD=automated # Options: automated, showid, manually
DONOR_SURVEY_ENABLED=false
ENABLED_DATA_SOURCES=WhatsApp,Facebook,Instagram,IMessage # Options: WhatsApp|WA, Facebook|FB, Instagram|IG, IMessage|IMSG
FEEDBACK_SURVEY_ENABLED=false
DONOR_SURVEY_LINK=https://survey.mbp.tf.uni-bielefeld.de/index.php?r=survey/index&sid=453492
FEEDBACK_SURVEY_LINK=https://survey.mbp.tf.uni-bielefeld.de/index.php?r=survey/&sid=158878
